*, *::before, *::after {
    box-sizing:border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

:root {
    --correct: rgba(84, 233, 39, 0.74);
    --incorrect: rgb(255, 0, 0);
    --btnColor: rgb(92, 120, 247);
   
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:wheat;
}

body.correct {
    background-color: var(--correct);
}

body.wrong {
    background-color: var(--incorrect);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 0px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
}

.btn {
    background-color: var(--btnColor);
    color: white;
    size: 0%;

}

.start-btn, .next-btn {
    font-siz: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hide {
    display:none
}